/*TITULO REGISTRAR AUTENTIFICACION*/
.registrar_autentificacion{
    font-family: 'Syne', sans-serif;
    color: #1a1a1a;
}
/*TITULO TEXTO REGISTRAR AUTENTIFICACION*/
.texto_registrar_autentificacion{
    color: #e5ba31;
    font-weight: 700;
    text-decoration: none;
}