/*TITULO TITULO AUTENTIFICACION*/
.titulo_autentificacion{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 1.3vw;
    color: #1a1a1a;
    letter-spacing: 0.05vw;
    
}