/* css/reset.css */
body{
  margin: 0;
  padding: 0;
  background-image: url('../../imagenes/inicio_sesion/inicio_sesion.png');
  background-size: cover;
}

html {
  margin: 0;
  padding: 0;
}