.inicio{
    width: 100%;
    background: #ffffff;
    font-family: 'Syne', sans-serif;
    padding-bottom: 6vh;

}

.titulo_inicio{
    background: #000000;
    color: #e5ba31;
    text-align: center;
    font-size: 1.8vw;
    font-weight: 700;
    padding: 6vh 5vw;

}
.contenedor_contenindo_inicio{
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    border: 0.3vw solid #e5ba31;

}