/*TITULO CONTACTO PIE PAGINA*/
.contactos_pie_pagina{
        display:flex;
        flex-direction:column; /* organiza los elementos de forma vertical */
        color:white; /*establece el color del titulo */
        padding-left: 5%;
        font-size: 0.56vw; /*establece el tamaño de la letra */

        font-style:italic; /*aplica el estilo italico al titulo */
}

/*TITULO QUIENES_SOMOS PIE PAGINA*/
.btn_contactos1{
        color:#d9d9d9; /* establece el color de los enlaces */
        text-decoration:none; /* elimina el subrayado de los enlaces */
        margin:1.7% 0; /* establece el espacio vertical entre los enlaces */
        font-size: 0.85vw; /* establece el tamaño de la letra */
        font-family: 'Syne', sans-serif;
        cursor: pointer; /* muestra el cursor de boton */

}

/*TITULO NUESTRO_OBJETIVO PIE PAGINA*/
.btn_contactos2{
        color:#d9d9d9; /* establece el color de los enlaces */
        text-decoration:none; /* elimina el subrayado de los enlaces */
        margin:1.7% 0; /* establece el espacio vertical entre los enlaces */
        font-size: 0.85vw; /* establece el tamaño de la letra */
        font-family: 'Syne', sans-serif;
        cursor: pointer; /* muestra el cursor de boton */

}

/*TITULO NUESTRA_VISION PIE PAGINA*/
.btn_contactos3{
        color:#d9d9d9; /* establece el color de los enlaces */
        text-decoration:none; /* elimina el subrayado de los enlaces */
        margin:1.7% 0; /* establece el espacio vertical entre los enlaces */
        font-size: 0.85vw; /* establece el tamaño de la letra */
        font-family: 'Syne', sans-serif;
        cursor: pointer; /* muestra el cursor de boton */

}

/*TITULO CONSULTAS PIE PAGINA*/
.btn_contactos4{
        color:#d9d9d9; /* establece el color de los enlaces */
        text-decoration:none; /* elimina el subrayado de los enlaces */
        margin:1.7% 0; /* establece el espacio vertical entre los enlaces */
        font-size: 0.85vw; /* establece el tamaño de la letra */
        font-family: 'Syne', sans-serif;
        cursor: pointer; /* muestra el cursor de boton */

}