.cabecera {
    width: 100%;
    min-height: 6vh;
    background: black;
}

/* CONTENEDOR CENTRAL: barra lateral + contenido */
.contenedor_contenido {
    width: 100%;
    flex-direction: row;
    display: flex;
}

/* BARRA LATERAL */
.contenedor_barra_lateral {
    width:20%;
    display: flex;
    margin-right:30px;
}

/* CONTENIDO DE INICIO */
.contenedor_inicio_contenido {
    width: 80%;
    display: flex;
    margin-top:30px;
}

.pie_pagina {
    width: 100%;
    min-height: 6vh;
    background: black;
}